node_modules
dist

package-lock.json
yarn-error.log
yarn.lock
npm-debug.log*
.DS_Store
.vscode
.env
.env.local
.env.development.local
/target

target

js-scripts/once.js
js-scripts/once2.js
js-scripts/test.js
js-scripts/final.js